<script lang="ts">
import axios from 'axios';

export default {
    name: "App",

    data() {

        return {
            enrollee: {
                name: null,
                sureName: null,
                middleName: null,
                birthDate: null,
                email: null,
                loginString: null,
                password: null,
            },
        }
    },
    methods: {
        createEnrollee() {
            console.log("Создание отчета");
            axios.post("http://localhost:9791/enrollee/", this.enrollee)
                .then(response => {
                    console.log("Созданный отчет => ", response.data);
                })
                .catch(error => {
                    if (error.response) {
                        console.log("Ошибка ответа сервера:", error.response.data)
                        console.log("Статус ошибки ответа: ", error.response.status)
                        console.log("Заголовки ошибки ответа: ", error.response.headers)

                    } else if (error.request) {
                        console.log("Не получен ответ на запрос: ", error.request)
                        this.$toast.add({
                            severity: 'error',
                            detail: 'Ошибка сохранения студента',
                            life: 3000,
                        });
                    } else {
                        console.log('Ошибка отправки запроса: ', error.message);
                    }
                    if (error.config) {
                        console.log('Ошибка конфигурации: ', error.config);
                    }
                });
        }
    }
}
</script>
<template>
    <Card style="width: 25em">
        <template #content>
            <InputText type="text" v-model="enrollee.name" placeholder="имя" />
            <InputText type="text" v-model="enrollee.sureName" placeholder="фамилия" />
            <InputText type="text" v-model="enrollee.middleName" placeholder="отчество" />
            <InputText type="date" v-model="enrollee.birthDate" />
            <InputText type="text" v-model="enrollee.email" placeholder="почта" />
            <InputText type="text" v-model="enrollee.loginString" placeholder="логин" />
            <InputText type="password" v-model="enrollee.password" placeholder="пароль" />
        </template>
        <template #footer>
            <Button @click="createEnrollee()" icon="pi pi-check" label="Сохранить" />
        </template>
    </Card>
</template>